
.icon-dashboard:before { content: '\e800'; } /* '' */
.icon-documents:before { content: '\e801'; } /* '' */
.icon-reports:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */